/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* ------------- */

body{
    background-color: #f5f5f5;
}

.container {
    margin: 0 auto;
    text-align: center;  
    width: 50%;
    max-width: 1260px;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    color: #EAD7D7;
    font-size: 7rem;
    text-align: center;
}

.form-control {
    padding: 0.8rem 2rem;
    width: 100%;
    font-size: 1.6rem;
    /* box-shadow: -4px 6px 8px rgba(0, 0, 0, 0.1); */
    border: 1px solid rgba(0, 0, 0, 0.1);
}

input::placeholder {
    color: #e6e6e6;
    font-style: italic;
}

input:focus {
    outline: none;
}

.list {
    /* margin: 1rem 0; */
    background-color: white;
    padding-right: 4rem;
}

.list li {
    width: 100%;
    padding: 1rem 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding-right: 2rem;    
    padding-left: 2rem;
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.checkbox {
    width: 2rem;
    height: 1rem;
}

.checked {
    text-decoration: line-through;
    color: #bbbbbb;
}

footer.list {
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 1rem 2rem;
}

.flex span {
    margin: 0 0.2rem;
    cursor: pointer;
    padding: 0.4rem 0.6rem;
}

.selected {
    border: 1px solid black;
}